.breadcrumb {
    padding: 0 !important;
    li {
        a {
            color: #333;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-decoration: none;
        }
    }
}
