.burger-menu {
    transition: all 0.3s ease 0s;

    &.active {
        top: 0;
        left: 0;
    }

    &__contacts {
        .row {
            display: flex;
            justify-content: space-between;
            width: 265px;

            &:not(:last-child) {
                margin: 0 0 15px 0;
            }
        }
    }

    &__schedule {
    }

    &__messengers {
    }

    .menus {

        @include adaptive($md) {
            flex-direction: row;
        }
    }
}

.menu {
    &__list {
        padding-left: 0 !important;
    }

    &__link {
        padding: 5px 0;

        @include adaptive($md){
            padding: 15px 0;
            font-size: 25px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            content: '';
            background: #c4c4c4;
            height: 1px;
            transition: .5s;
        }

        &:hover {
            color: #c4c4c4;
        }

        &:hover::after {
            width: 100%;
        }
    }

    li {
        list-style-type: none;
    }

    &:first-child{
        padding-bottom: 25px;
    }
}
