.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
    transition: .4s ease;

    //box-shadow: 0px 1px 10px black;

    &.shadow {
        transition: 0.4s ease;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
    }

    &.active {
        background: #161616;

        .logo {
            visibility: hidden;
        }
    }

    &__logo {
    }

    .header__language {
        

        .language-chooser {
           

            &__current {
               

                &-label {
                   
                }

                &:after {
                    content: '\2193';
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    font-size: 10px;
                    color: black;
                    transition: transform 0.3s ease-in-out;
                }
            }

            &__drop {
                box-shadow: 0 1px 5px rgb(0 0 0 / 18%);

                &.active {
                    display: block;
                }
            }

           
        }
    }

    .header__menu {
        .main-menu{
            &__item {
                position: relative;
                text-align: center;
                &-link {
                    padding: 5px 5px 0;
                    font-weight: 600;
                    display: block;
                    position: relative;
                    z-index: 3;
                    font-size: 10px;
                    color: black;
                    white-space: nowrap;
                    text-decoration: none;
                    border-bottom: 3px solid transparent;
                    transition: opacity 0.2s ease-in-out;
                    @include adaptive($md){
                        padding: 10px 5px 5px;;
                        font-size: 14px;
                    }
                    @include adaptive($lg){
                        font-size: 15px;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

            }

            &__list {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

    }
}
