.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
    .card {

        &__category{
            width: 50%;
            @include adaptive($md) {
                width: 30%;
            }
            @include adaptive($lg) {
                width: 20%;
            }
        }
    }
}
