.promocode {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    background: #fff;
    border: 0.5px solid hsla(0, 0%, 52.9%, .2);
    box-sizing: border-box;
    box-shadow: 0 0 12px hsl(0deg 0% 40% / 6%);
    border-radius: 15px;

    &__label {
        margin-bottom: 0;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        width: 100%;
        display: flex;
        font-size: 1rem;
        color: #231f20;
        font-weight: 500;
    }

    &__input {
        width: 100%;
        border: 0.5px solid $red;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        font-size: .875rem;
        padding: 1rem;
        text-align: center;
    }

    &__button {
        padding: 0.875rem;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $red;
        transition: .25s;
        text-decoration: none;
        font-weight: 400;
        cursor: pointer;
        background: $red;
        color: white;

        &:hover {
            color: #cccccc;
        }
    }
}
