.sizes-table {
    border-collapse: collapse;

    table {
        width: 100% !important;
    }

    tr {
        text-align: center;

        &:first-child {
            th {
                border-bottom-width: 3px;
            }
        }
    }

    th,
    td {
        border: 1px solid #C4C4C4;
        padding: 10px 5px;

        @include adaptive($sm) {
            padding: 10px;

        }
        @include adaptive($md) {
            padding: 15px;
        }
    }
}
